<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste-Vertex</title>

    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container">
        <form action="/ok">
            <input id="search" placeholder="Pesquisa" /><br />
            <button>
                    <img src="/assets/search.svg">
            </button>
        </form>
    </div>
    
</body>
</html>