<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teste-Vertex</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <form id="form" method="POST" action="/send">
        <input
          id="search"
          name="search"
          placeholder="Pesquisa"
          value="chaves"
        />
        <button type="submit">
          <img src="/assets/search.svg" />
        </button>
      </form>
    </div>
  </body>
</html>
