* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #0e0a14ef;
  text-align: center;

  -webkit-font-smoothing: antialiase;
}

.container .iframe {
  margin-top: 30px;
  text-align: center;
}

.video_like {
  display: inline;
}

.text {
  color: white;
  font-weight: bold;
  margin-top: 15px;
}

.title {
  color: white;
  text-align: center;
}

.likes {
  display: inline-block;
}

.likes p {
  text-align: center;
}

.likes .itens {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.description {
  max-width: 800px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description_text {
  margin-top: 30px;
  text-align: center;
  color: white;
  min-width: 200px;
  padding: 0 500px;
  opacity: 0.5;
}
