body{
    background-color: #0E0A14ef;

    -webkit-font-smoothing: antialiase;
}

.container{
 

    
        height: 100vh;
        width: 100vw;
    
        position: fixed;
        top: 0;
    
        display: flex;
        justify-content: center;
        align-items: center;

   
    
}

.container input{
    height: 50px;
    width: 400px;
    border-radius: 7px 0 0 7px;
    border: 0;
}

#email::-webkit-input-placeholder{
    text-align: center;

}


form{
    display: flex;
}

form button{
    width: 72px;
    height: 52px;

    background-color: #34cb79;
    border: 0;
    border-radius: 0 8px 8px 0;
}


